.one {
	background-color: #000;
	color: #FFF;
	text-align: center;
	font-size: 50px;
}
.two {
	color: #FFF;
	background-color: grey;	
	font-size: 20px;
	text-align: center;
}
.stih {
	width: 350px;
	font-size: 20px;
	color: #FFF;
	background-color: black;
	margin: auto;
	padding: 15px;
}